{% load static %}
{% static "" as baseUrl %}
{% static "images" as images %}
{% static "css" as css %}
{% static "fonts" as fonts %}
{% static "js" as js %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <form action="{% url 'keywordExtractor' %}" method="POST">
        <input type="text" name="txt">
        {% csrf_token %}
        <button type="submit">submit</button>
    </form>
</body>
</html>